/*Styling til about.php */ 

body {
/* Følgende sørger for at header og footer fylder hele toppen og bunden*/ 
  margin-top: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px;  
  margin-right: 0px;  
 

  /* no-repeat:; gør at baggrunden ikke
  gentager sig.

  fixed: Gør at baggrunden ikke følger med når man scroller 

  url() henter en bagrund fra en mappe. */ 
  background: linear-gradient(rgba(0, 0, 50, 0.8),rgba(0, 0, 50, 0.2)),url(../images/bgPort.jpg) no-repeat center center fixed;

  /* Fælgende sørger for at baggrundsbillidet fylder hele baggrunden */ 
  background-size: cover;
}

.profile-box {
	width: 50%;
  max-width: 700px; 
  /* Elementet bliver vist inden i en blok */
  display: block;
  /* Funktionen rgba () definerer farver 
  ved hjælp af RGBA-modellen (Red-green-blue-alpha). */ 
	background: rgba(0,0,0,0.3);
    /* Følgende afrunder kanterne på boksen */ 
  border-radius: 4%;
	padding: 40px; 
	color: white;
	margin: 0 auto;
  margin-top: 100px; 
  text-align: center; 

}
/* Styling til profil billidet */ 
.profile-pic {
  /* Følgende afrunder kanterne på billidet */ 
  border-radius:30%; 
  height: 200px;
  width: 200px;
  opacity: 0.9; 
}

/* Følgende ændrer størrelsen 
på profilbilledet så det ikke 
overskrider boxen */ 

@media only screen and (max-width: 390px) {
  .profile-pic {
     width: 150px;
     height: 150px;
   }

}

/* Download button */ 

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 5px 1px;
    cursor: pointer;
    font-size: 15px;
    position: right: 0;
    margin-top: -20px; 
}

/* Mørkere background ved mouse-over */
.btn:hover {
    background-color: RoyalBlue;
} 

.btn2 {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 5px 1px;
    cursor: pointer;
    font-size: 15px;
    position: right: 0;
    margin-top: 20px 

}

/* Mørkere background ved mouse-over */
.btn2:hover {
    background-color: RoyalBlue;
} 

button {
 
	opacity: 0.9; 
}

/* Følgende sørger for at teksten
på de to knapper ikke overskrider 
kanten af den blå box*/ 
@media only screen and (max-width: 520px) {
  .btn, .btn2 {
    width: 100px !important;

   }

}

p {

  text-align: left; 
  /* mellemrum mellem linjer */ 
  line-height: 1.7; 
}


/* Skaber mellemrum mellem footer og indhold*/ 

.space { margin-top: 360px; }