

/* border-box: width og height properties (og min/max properties) inkludere content, padding and border.

* Selector selects all elements */ 
* {
    box-sizing: border-box;
}
body {
  /* 
  no-repeat:; gør at baggrunden ikke
  gentager sig.

  fixed: Gør at bagrunden ikke følger med når man scroller 

  url() henter en bagrund fra en mappe. 
     */ 
     /* med linear-gradient kan man definere f.eks. to farver
     og laver en smooth transitions mellem farverne*/ 
  background: linear-gradient(rgba(0, 0, 50, 0.8),rgba(0, 0, 50, 0.2)),url(images/bgPort.jpg) no-repeat fixed; 
  /* Fælgende sørger for at baggrundsbillidet fylder 
  hele baggrunden uden at zoome ind på billidet*/ 
  background-size: cover;

}

h2 {

	color: white;
  opacity: 0.85;

}
.indledningParagraf {

  color: white;
  opacity: 0.85;

}

.række {
    margin: 8px -16px;
}

/* Tilføjer padding mellem hver kollone */
 
.række .kolonne {
    padding: 8px;
}

/* Skaber fire lige store kolloner der flyder ved siden af hinanden 
(Starter med 25% width)*/
.kolonne {
    float: left;
    width: 25%;
    height: 25%; 
   
}

/* Responsive layout - laver en to kolloner column-layout istedet for fire kolloner*/
@media screen and (max-width: 900px) {
    .kolonne {
        width: 50%;

    }
}

/* Responsive layout - sørger for at de to kolloner 'stacks' oven på hinanden istedet for ved siden af hinanden, 
så de alle er oven på hinanden*/
@media screen and (max-width: 600px) {
    .kolonne {
        width: 100%;
    }
}


/* Følgende fjerner floats efter rows*/ 

/* :after definere noget der skal komme efter elementer med klassen 'række' */ 
.række:after {
    content: "";
    /* display:table; får elementet til at opføre sig som en tabel */ 
    display: table;

    /* Hvis elementet kan passe vandret i rummet ved siden af et andet element, der flyder, vil det */ 
    clear: both;
}

/* indhold */
.indhold {
    background-color: white;
    padding: 13px;
    min-height: 435px;
    border-radius: 5%; 


}

.indholdNederst
{
  background-color: white;
  padding: 13px;
    border-radius: 4%; 
}

.indhold a {
   color: black;
   text-align: center; 


}


.indhold a:hover {
   color: grey;
   

}

/* Den centrale del af websiden */
/* Følgende sørger for at sidens indhold ikke bliver bredere efter webbrowseren når en bredde på 1100px */ 
.main {
    max-width: 1100px;
    margin: auto;
    padding: 24px; 


}

.indhold img:hover {
 /* opacity er gennemsigtighed*/ 
	opacity: 0.5; 
}




/* Download button */ 

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 5px 1px;
    cursor: pointer;
    font-size: 15px;
    position: right: 0;
    margin-top: 10px; 
}

/* mørkere background ved mouse-over */
.btn:hover {
    background-color: RoyalBlue;
} 

.btn2 {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 5px 1px;
    cursor: pointer;
    font-size: 15px;
    position: right: 0;
    margin-top: 20px 

}


.btn2:hover {
    background-color: RoyalBlue;
} 

button {
	opacity: 0.9; 
}


/* Imageslider */ 


.container{
  width:100%;
  margin:0px auto;
}

.slider-inner{
  width:100%;
  height:135px;
  position:relative;
  /* Overflow er clipped, og resten af indholdet vil være usynligt */ 
  overflow:hidden;
  float:left;
  padding:3px;
  /* Kant rundt om billidet */ 
  border:grey solid 1px;
}

.slider-inner img{
  /* At skjule et element kan gøres ved at indstille display til none */ 
  display:none;
  width:100%;
  height:135px;
}

.slider-inner img.active{

  /* Viser et element som en blokbeholder på inline-niveau. Selve elementet er formateret som et inlineelement, men du kan anvende højde- og breddeværdier på elementet */ 
  display:inline-block;
}

/* Følgende er styling til navigationspilene */ 

.prev,.next{
  float:left;
  margin-top:20px;
  cursor: pointer;
}

.prev{

/* Et element med position: relativ; er placeret relativt i forhold til sin normale position.
Indstilling af de øverste, højre, nederste og venstre properties af et relativt positioneret element vil medføre, at det justeres væk fra dets normale position. */ 
  position:relative;
  margin-top: 50px; 
  margin-right:-45px;
  z-index:100;
}
  /* hvis man har to elemnter det samme sted, jo højere
  z indexet er på elementet, jo højere er prioriteten på det element og det får førsteret til at blive vist
  */ 

.next{
  position:relative;
  margin-top: 50px; 
  margin-left:-31px;
  z-index:100;
}
/* image slider end */ 



/* Følgende sørger for at header og footer fylder hele toppen og bunden*/ 

body {

  margin-top: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px;  
  margin-right: 0px;  

}

/* bliver brugt til at skabe tom plads imellem footer og det nederste element */ 
.space { margin-top: 300px; }


